*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
     --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:white;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:whitesmoke;
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--alt-color);
    flex-wrap: wrap;
    margin:0
} 
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    min-height: 80vh;
    border:5px solid var(--primary-border-color);
    border-radius: 30px;
    background-color: var(--primary-bg-color);
    margin: 20px;
    padding: 10px;
}

#material-collection{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

input{
    border: 2px solid grey;
    border-radius: 4px;
}
.flex-item{
    border: 1px solid grey;
    border-radius: 8px;
    height: 30px;
    flex: 1;
    margin: 10px;
    padding: 15px;
}

.text-label{
    flex: 1 1 40%;
}

#heading{
    flex: 1 1 100%;
    height: 30px;
}

#file-input{
    flex: 1 1 100%;
}

#Description{
   width: 600px;
}
#content-label{
    flex: 1 1 100%;
}

#submitBtn{
    width: 150px;
    font-size: 15px;
    align-self: center;
}
#SourceMaterialName{
    width: 290px;
}
#Category{
    width: 290px;
}
#submitBtn:hover{
    background-color: var(--primary-button-color);
}  

fieldset{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.text-field{
   height: 70%;
}

#p-counter{
    margin: 0;
}

.form-btn{
    width: 150px;
    align-self: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    width: 40%;
    background-color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 15px;
}

#question{
    flex:2 2 100%;
    width:100%;
}

.wrapper-item{
    margin:5px
}
