*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --primary-bg-color:#c0ddf6 ;
    --primary-bg-shade1: #82BBED;
    --primary-bg-shade2: #3B94E3;
    --primary-bg-shade3: #14568F;
    --primary-bg-shade4: #0D3659;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:#2991ec;
    --alt-color:#1a3e5e;
    --primary-item-color:white;
    --secondary-color:#A4243B;

}  
body{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-bg-color);
    margin: 0;
    min-height: 100vh;
}

fieldset{
  border: none;
}
#main-section{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100vh;
    color: white;
}
#secondary-section{
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-left:2px solid  var(--primary-bg-shade4);
    padding: 20px;
}

#main-section-header{
  background-color: var(--alt-color);
  margin: 5px;
  padding: 15px;
  border-radius: 20px;
}

#create-questions-form{
  flex: 3;
    display: flex;
    flex-direction: column;
}

.nav-btn{
  background-color: var(--primary-bg-shade3);
  margin: 5px;
  padding:10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.nav-btn:hover{
  cursor: pointer;
  background-color: var(--primary-bg-shade2);
  color: white;
  padding: 11px;
  transition:padding 0.1s ease-in 
}

#action-nav{
    flex: 1;
    display: flex;
    margin: 10px;
    background-color: var(--alt-color);
    border-radius: 15px;
    padding: 10px;
}
#question-editor{
  flex: 15;
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--alt-color);
}

#settings-btn{
  /* flex: 1; */
  align-self: end;
  background-color: transparent;
  border: none;
  color: white;
}
#settings-btn:hover{
  cursor: pointer;
}

#settings-btn.is-hidden{
  display: none;
}

#empty-editor{
  justify-content: center;
  align-self: center;
  border: 1px dashed white;
  padding: 15px;
  border-radius: 15px;
  font-size: 20px;
}
#empty-editor.is-hidden{
  display: none;
}

#widget-description{
  border: 1px dashed white;
  border-radius: 15px;
  padding: 10px;
}
#widget-description.is-hidden{
  display: none;
}

#question-template{
  display: flex;
  flex-direction: column;
}
.editor-field{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-shade3);
  border: 1px dashed white;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  text-align: start;
}
.editor-field.full-field{
}

.editor-field.half-field {
  max-width: 60%;
}

.editor-input{
  min-height: 50px;
  background-color: var(--primary-bg-shade4);
  border: 1px solid grey;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
}


#question-list{
  flex: 15;
  display: flex;
  flex-direction: column;
  background-color: var(--alt-color);
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  color: white;
  font-size: 20px;
}

.question-widget{
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.question-widget:hover{
  cursor: pointer;
}

.dialog-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#dialog-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: var(--primary-bg-shade1);
    border: 2px solid var(--primary-border-color);
    border-radius: 15px;
    text-align: center;
}

.dialog-component{
  flex: 1;
  background-color: var(--primary-bg-shade3);
  padding: 15px;
  border-radius: 10px;
  
}

.function-container{
  display: flex;
  flex-direction: column;
}

.close-dialog{
  align-self: flex-end;
}

#settings-box{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-shade4);
  color: white;
  font-size: 20px;
  border-radius: 25px;
  padding: 25px;
}
.settings-box-component{
  flex:1;
  border: 1px dashed white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.settings-box-component select{
  background-color: var(--primary-bg-shade3);
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 500px;
  height: 50px;
}

.media-tag{
  width:350px;
  height:350px;
}


#add-btn,
.media-btn,
.file-input,
.mrq-btn,
.preview-action,
#save-btn{
 background-color:var(--primary-bg-shade2);
 padding: 15px;
 margin: 10px;
 max-width: 100px;
 border: none;
 border-radius: 999px;

}

#add-btn:hover,
.media-btn:hover,
.file-input:hover,
.mrq-btn:hover,
.preview-action:hover,
#save-btn:hover{
  cursor: pointer;
}

#save-btn{
  align-self: flex-end;
}

.media-btn.is-hidden{
  display: none;
}
.editor-input.is-hidden{
  display: none;
}

#option-media-selector.is-hidden{
  display: none;
}

.editor-component.is-hidden{
  display: none;
}

.is-hidden{
  display: none;
}

#ui-taper-notification{
  background-color: var(--primary-bg-shade4);
  border: 2px solid var(--primary-border-color);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  position: fixed;
  top: 82vh;
  

}
.taper-component{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;
}

#taper-btn{
  align-self: end;
}

#preview-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

#preview-box{
  flex: 1;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 20px;
  padding: 15px;
  max-width: 75%;
  min-height: 60vh;
  color: white;
  font-size: 20px;
}

#preview-header{
  display: flex;
  flex-direction: column;
}

#preview-body{
  flex: 5;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#preview-nav{
  display: flex;
  justify-content: space-between;
}

#preview-content{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  border: 5px dashed var(--primary-bg-shade3);
  border-radius: 30px;
}

#preview-sidebar{
  flex: 1;
  background-color: var(--primary-bg-shade4);
  padding: 30px;
}

.prompt-component{
  border: 1px dashed white;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
  background-color: var(--primary-bg-shade4);
  
}


#option-template{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--primary-bg-shade2);
    border-radius: 10px;
    background-color: var(--primary-bg-shade2);
    padding:20px;
    margin: 15px;
}

.option-component{
  flex: 1 1 33.3%;
  display: flex;
  justify-content: center;
  border: 1px dashed white;
  border-radius: 10px;
  background-color: var(--primary-bg-shade4);
  text-align: center;
  padding: 10px;
  margin: 10px;
  cursor:pointer
}

.option-component:hover{
  background-color: var(--primary-bg-shade3);
}

.preview-widget{
  padding: 10px;
  margin: 5px;
}

.preview-widget:hover{
  cursor: pointer;
  background-color: var(--primary-bg-shade2);
  border: none;
  border-radius: 15px;
}

.preview-widget.selected{
  background-color: var(--primary-bg-shade2);
  border: none;
  border-radius: 15px;
}

#preview-previous,
#preview-next{
  background-color:var(--primary-bg-shade2);
  padding: 15px;
  margin: 10px;
  max-width: 100px;
  border: none;
  border-radius: 15px;

}

#option-label{
  align-self:start;
}
#option-value{
  align-self: center;
}
#preview-header-nav{
  display: flex;
}
#preview-header h2, #preview-question-number{
  color:black;
}
#preview-prompt-media{
  flex: 1;
}

#preview-prompt-media img,
 #preview-prompt-media audio,
 #preview-prompt-media video{
  width: 100% ;
  height:auto;
}

.mrq-field{
  display: flex;
}
.mrq-field input{
  flex: 15;
}
.mrq-field button{
  flex: 1;
}
.mrq-field button:hover{
  cursor: pointer;
}





