*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
     --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:white;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:whitesmoke;
    /* --trial-color:whitesmoke; */

}
body{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
#base-nav{
    flex: 1 1 100%;
    height: 8vh;
    background-color: var(--alt-color);
    border: 5px solid red;
}
table{
    flex: 1 1 80%;
    margin: 15px;
    min-height:auto;
    border-collapse: collapse;
    
    
}
table,th,td{
    border:1px solid var(--alt-color);
    padding:20px;
}
thead{
    background-color: var(--alt-color);
    color: white;
}

tbody:nth-child(even) {
    background-color: white;
} 
tr :hover{
    background-color: var(--primary-border-color);
    color: white;
}