*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--alt-color);

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:white;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:whitesmoke;

}  
.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin:0;
    height: 100vh;
    
    /* border: 10px solid red; */
    /* background-color: var(--primary-bg-color); */
}
input{
    width: 300px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
}

.flex-form{
    
    border: 5px solid rgb(173, 211, 244);;
    border-radius: 25px;
    box-shadow: 4px 4px var(whitesmoke);
    padding: 50px;
}
.formheader{
    
    text-align: center;
    font-size: 50px;
}
