*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
     --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:white;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:whitesmoke;
    /* --trial-color:whitesmoke; */

}
body{
    display: flex;
    justify-content: center;
    margin: 0;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-item-color);
    width: 100%;
    min-height: 100vh;
    overflow-x: auto;


}
.action{
    width:150px;
    height:100px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: var(--primary-bg-color);
}
table{
    flex: 1;
    margin: 15px;
    max-width: 1000px;
    border-collapse: collapse;
}
table,th,td{
    border:1px solid var(--alt-color);
    padding:20px;
}
thead{
    background-color: var(--alt-color);
    color: white;
}

tr:hover{
    background-color: var(--primary-border-color);
    color: white;
}