*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
     --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:white;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:whitesmoke;
    /* --trial-color:whitesmoke; */

}
body{
    display: flex;
    /* justify-content: center; */
    margin: 0;
}
#container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-item-color);
    min-height: 100vh;
    overflow-x: auto;


}
#actionArea{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    background-color: var(--alt-color);
    color: white;
    flex: 1 1 20%;
}
#displayArea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.pageButton{
    flex: 1 1 20px;
}
.action{
    /* width:150px;
    height:100px; */
    margin: 20px;
    text-align: center;
    text-decoration: none;
    /* color: black; */
    font-size: 20px;
    /* background-color: var(--primary-bg-color); */
}
table{
    flex: 1;
    margin: 15px;
    max-width: 1000px;
    border-collapse: collapse;
}
table,th,td{
    border:1px solid var(--alt-color);
    padding:20px;
}
thead{
    background-color: var(--alt-color);
    color: white;
}

tr:hover{
    background-color: var(--primary-border-color);
    color: white;
}

.actionButton{
    border: 2px solid var(--primary-border-color);
    border-radius: 8px;
    width: 80px;
    height: 70px;
    transition: width 0.5s ease-in,height 0.5s ease-in;
}
.actionButton{
    width: 83px;
    height: 73px;
}
#getButton{
    background-color: green;
}
#deleteButton{
    background-color: red;
}