*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:white;

}  
body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-bg-color);
    margin: 0;
    
}
.base-nav{
    display: flex;
    
    justify-content: end;
    background-color: var(--alt-color);
    flex: 1 1 100%;
    margin: 0;
    
    height: 8vh;
    
}
.nav-link{
    /* flex: 1; */
    color:white;
    margin: 8px;
    font-size: 25px;
    text-decoration: none;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    /* border: 3px solid red; */
}
#display-section{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    border: 5px solid var(--primary-border-color);
    border-radius: 10px;
    background-color: var(--primary-item-color);
    min-height: 70vh;
    margin: 20px;
    
   
}#content-frame{
    padding: 15px;
    min-width: 90%;
}
.text-content{
   display: flex;
   justify-content: space-around;
}
.content-item{
    margin: 20px;
}
#evaluation{
    margin: 10px;
    display: flex;
    width:80%;

}
/* #evaluationForm{
    border: 2px solid var(--primary-border-color);
    font-size: 25px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
} */
.func-btn{
    width: 200px;
    height: 40px;
    background-color: var(--primary-button-color);
    border: 2px solid var(--primary-border-color);
    border-radius: 10px;
    margin: 10px;
}
.func-btn:hover{
    background-color: var(--primary-item-color);
}