*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:white;

}  
body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-bg-color);
    margin: 0;
    
}
.base-nav{
    display: flex;
    
    justify-content: end;
    background-color: var(--alt-color);
    flex: 1 1 100%;
    margin: 0;
    
    height: 8vh;
    
}
.nav-link{
    /* flex: 1; */
    color:white;
    margin: 8px;
    font-size: 25px;
    text-decoration: none;
}
#container{
    display: flex;
    border: 2px solid var(--primary-border-color);
    border-radius: 10px;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 80%;
    justify-content: space-around;
    align-content: space-around;
    background-color: white;
    margin: 20px;
    padding: 20px;
    font-size: 25px;

}
.flex-item{
    background-color: white;
    text-align: center;
    flex: 1 1 350px;
    border: 2px solid var(--primary-border-color);
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color:var(black)
}
#evaluation{
    margin: 10px;
    display: flex;
    width:80%;

}
#evaluationForm{
    border: 2px solid var(--primary-border-color);
    font-size: 25px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}