*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:white;

}  
body{
  background-color: var(--primary-bg-color);
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
#displayFrame{
    background-color: var(--primary-item-color);
    color: goldenrod;
    font-size: 40px;
    width: 80%;
    height: 60vh;
    border: 3px solid var(--primary-border-color);
    border-radius: 15px;
    margin: 20px;

}
.ActionBtn{
    background-color: var(--alt-color);
    color:white;
    font-size: 30px;
    flex: 1 1 50px;
    width: 150px;
    border: 2px solid var(--primary-border-color);
    border-radius: 10px;
    transition: width 0.3s ease-in, flex-basis 0.3s ease-in;
    
}
.ActionBtn:hover{
width:155px;
flex-basis: 55px;
background-color: var(--primary-button-color);
}

#instruction{
  font-size: 30px;
}
#theLevel{
  font-size: 30px;
}
#displayFrame{
  display: flex;
  text-align: center;
}
#displayElement{
 flex: 1 1 80%;  
  font-size: 150px;
  
}
#leveler{
  align-self: flex-start;
  margin: 10px;
  background-color: var(--primary-border-color);
  border-radius: 5px;
}
#stopBtn{
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fade.show {
  opacity: 1;
  
}