*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --primary-item-color:white;
    --alt-color:rgb(26, 62, 94);

} 
body{
    display: flex;
    flex: 1;
    flex-wrap: wrap;;
    align-items: center;
    margin: 0;

}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 80%;
    background-color: var(--primary-bg-color);
    height: 100vh;
    /* border: 10px solid red; */
}
.currency{
    margin: 20px;
    padding: 15px;
}
.item{
    background-color: var(--primary-item-color);
    margin: 10px;
    flex: 1;
    border: 2px solid var(--primary-border-color);
    border-radius: 8px;
    text-align: center;
}
.base-nav{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 8vh;
    background-color: var(--alt-color);
    margin: 10px;
    border-radius: 10px;
}
.base-nav-link{
    margin: 8px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 25px;
}
button{
    padding: 8px;
    border: 4px solid var(--primary-border-color);
    border-radius: 6px;
    font-size: 15px;
}
button:hover{
    padding:10px;
    border: 4px solid var(--primary-border-color);
    color: white;
    background-color: var(--alt-color);
    font-size: 15px;
}
#welcome-div{
    flex:1 1 100%;
    height: 15vh;
}
.big-block{
}
.learner-stats{
}
.display-image{
    max-width: 300px;
    max-height: 300px;
    margin: 8px;
    border-radius: 10px;
}
