*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary-bg-color:#c0ddf6 ;
    --primary-bg-shade1: #82BBED;
    --primary-bg-shade2: #3B94E3;
    --primary-bg-shade3: #14568F;
    --primary-bg-shade4: #0D3659;
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:#2991ec;
    --alt-color:#1a3e5e;
    --primary-item-color:white;
    --secondary-color:#A4243B;

} 
body{
    display: flex;
    width: 100%;
    margin: 0;
}

#content-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main-header{
    display: flex;
}
main{
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    margin: 5px;
    padding: 20px;
}

.main-component{
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--primary-bg-shade2);
    border-radius: 20px;
}

#fresh-content{
    display: flex;
}
#daily-topic{
    flex: 1;
}
#suprise-func{
    flex: 1;
}
#new-content-display{
    flex: 5;
}

.hidden-content{
    display: none;
}

#fun-fact-card{
    background-color: var(--primary-bg-shade2);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* the background-color must be changes to a 
    color that is more eye-catching */
}


.image-wrapper{
    flex: 1;
    height: auto;
    overflow: hidden;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#user-details{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: var(--primary-bg-shade2);
    border-radius: 999px;
}

#user-preferences{
    display: flex;
}
#continue-reading-section{
    flex: 1;
}
#similar-articles{
    flex: 5;
}






.currency{
    margin: 20px;
    padding: 15px;
}
.item{
    background-color: var(--primary-item-color);
    margin: 10px;
    flex: 1;
    border: 2px solid var(--primary-border-color);
    border-radius: 8px;
    text-align: center;
}
#main-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: var(--alt-color);
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
.base-nav-link{
    margin: 8px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.learner-stats{
}
.display-image{
    max-width: 300px;
    max-height: 300px;
    margin: 8px;
    border-radius: 10px;
}

.learner-nav{
    background-color: var(--alt-color);
    min-height: 100vh;
    position: sticky;
    max-width: 20%;
}

#learner-nav-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    font-size: 20px;
}

#logo-wrapper{
    flex: 1 1 150px;
    padding: 10px;
}
#nav-items-wrapper{
    display: flex;
    flex-direction: column;
}

.nav-item{
    display: flex;
    margin: 13px;
    padding: 10px;
    background-color: var(--alt-color);
    border-radius: 15px;
}

.nav-item:hover{
    background-color: var(--primary-bg-shade2);
}

.nav-link{
    text-decoration: none;
    color: #ffff;
}

