*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:white;

} 
body{
    background-color: var(--primary-bg-color);
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#displayArea{
    flex: 1 1 500px;
    background-color: var(--primary-item-color);
    border: 2px solid var(--primary-border-color);
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
}