*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:white;

}  
body{
    display: flex;
    background-color: var(--primary-item-color);
}
#container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: start;
    margin: 0;
    flex-wrap: wrap;
    border: 5px solid red;
    
}
#sideBar{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-height: 100vh;
    border: 2px solid gold;
    font-size: 25px;
}
.sideBarAction{
    background-color: var(--alt-color);
    color: white;
    padding: 10px;
    border: 2px solid var(--primary-border-color);
    border-radius: 8px;
}
#mainSection{
    flex: 1 1 80%;
    margin:10px;
}
.level{
    flex: 1;
    height: 200px;
    margin : 15px;
    padding: 15px;
    background-color: var(--primary-button-color);
    border: var(--primary-border-color);
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
}
.level p{
    font-size: 15px;
}
.level:hover{
    height: 210px;
    transition: height 0.3s ease-in;
}
.actionContainer{
    display: none;
    position: absolute;
    left: 20px;
    background-color: var(--primary-border-color);
}
#practice{
    position: relative;
}
/* #practice:hover .actionContainer{
    display: block;
} */

#speedAction{
    position: relative;
}

.levelContainer{
    display: none;
    position: absolute;
    background-color: var(--primary-border-color);
    left: 20px;
}
/* #speedAction:hover .levelContainer{
    display: block;
   
} */