*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hover-button-color:rgb(189, 82, 43);
    --primary-bg-color:rgb(192, 221, 246);
    --primary-button-color:rgb(132, 190, 242);
    --primary-border-color:rgb(41, 145, 236);
    --alt-color:rgb(26, 62, 94);
    --primary-item-color:white;

}  
body{
  background-color: var(--primary-bg-color);
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
   

}
#displayFrame{
  
    background-color: var(--primary-item-color);
    color: goldenrod;
    font-size: 40px;
    /* width: 80%; */
    height: 60vh;
    border: 3px solid var(--primary-border-color);
    border-radius: 15px;
    margin: 20px;
    display: flex;

    flex: 5 5 80%;
    text-align: center;
    align-self: center;

}
.actionBtn{
    flex: 1;
    background-color: var(--alt-color);
    color:white;
    font-size: 30px;
    width: 150px;
    border: 2px solid var(--primary-border-color);
    border-radius: 10px;
    transition: width 0.3s ease-in, flex-basis 0.3s ease-in;
    
}
.actionBtn:hover{
  
    width:155px;
    flex-basis: 55px;
    background-color: var(--primary-button-color);
}

.instruction{
  flex: 1 1 100%;
  font-size: 30px;
  text-align: center;
  /* border: 5px solid red; */
}
#theLevel{
  flex: 2 2 70%;
  align-self: center;
  font-size: 30px;
  text-align: center;
  /* border: 5px solid red; */
}

#displayElement{
  font-size: 150px;
}
.fade {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fade.show {
  opacity: 1;
  
}
.conditioner{
  align-self: start;
  margin: 10px;
  background-color: var(--primary-border-color);
  border-radius: 5px;

}